@model IEnumerable<Capstone.Models.Event>

@{
    ViewData["Title"] = "ListOfEvents";
}

<h2>List Of Events</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beginning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PodcastId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PodcastURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpsaleCopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFinalIzed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beginning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PodcastId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PodcastURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpsaleCopy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFinalIzed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
