@model IEnumerable<Capstone.Models.Podcast>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PodcastID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hosting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpisodeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasurementPlatform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Demographic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Affiliations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BroadcastCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BroadcastState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InOhio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSponsored)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PodcastID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hosting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpisodeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementPlatform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Demographic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Affiliations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InOhio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSponsored)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Detail", new {id = item.PodcastID}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
