@model Capstone.Models.ViewModel.EventViewModel

@{
    ViewData["Title"] = "EventDetail";
}

<h2>@Model.EventItem.EventName</h2>
<p class="badge badge-primary badge-pill genre-tag">
    <a href=@Model.EventItem.Podcast.URL> @Model.EventItem.Podcast</a>
</p>
<p class="badge badge-primary badge-pill genre-tag">
    @Model.EventItem.Podcast.GenreID
</p>


<div class="date-time-local">
    <i class="fa fa-calendar fa-fw"></i>
    <span class="date">
        @Model.EventItem.Beginning.DayOfWeek,
        @Model.EventItem.Beginning.ToString("MMMM")
        @Model.EventItem.Beginning.Day
    </span>
    <span class="hours">
        <i class="fa fa-clock fa-fw"></i>
        @Model.EventItem.Beginning.ToString("hh:mm")  @Model.EventItem.Beginning.ToString("tt").ToUpper() -  @Model.EventItem.Ending.ToString("hh:mm")  @Model.EventItem.Ending.ToString("tt").ToUpper()
    </span>
    <span class="location">
        <i class="fa fa-map-marker fa-fw"></i>
        Location: @Model.EventItem.VenueID
    </span>
</div>
<div class="podcast-logo">
    @if (Model.EventItem.CoverPhoto != null)
    {
        <a href=@Model.EventItem.Podcast.URL>
            <img src=@Model.EventItem.CoverPhoto )>
        </a>
    }
</div>
<div class="podcast info">
    <dl class="dl-horizontal">
        <dd>
            <a href=@Model.EventItem.Podcast.URL>@Html.DisplayFor(model => model.EventItem.Podcast.Title)</a>
        </dd>
        <dd>
            <a href=@Model.EventItem.Podcast.URL> @Html.DisplayFor(model => model.EventItem.Podcast.URL)</a>
</dd>
        <dd>
            @Html.DisplayFor(model => model.EventItem.TicketLevel)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.EventItem.UpsaleCopy)
        </dd>
    
    </dl>
</div>

<dl class="dl-horizontal">

    <dd>
        @Html.DisplayFor(model => model.EventItem.DescriptionCopy)
    </dd>
    <dd>
        published @Html.DisplayFor(model => model.EventItem.IsFinalized)  only visible to Admin
    </dd>
</dl>

<div>
    only visible to Admin

    @* TODO ADD ADMIN AUTH *@
 
                    @Html.ActionLink("Edit", "EditEvent", new { id = Model.EventItem.EventID }) 
                    @Html.ActionLink("Remove", "DeleteEvent", new { id = Model.EventItem.EventID })
                    @Html.ActionLink("Create New", "SaveEvent")
</div>
