@model Capstone.Models.ViewModel.EventViewModel

@{
    ViewData["Title"] = "EventDetail";
}



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/SearchStyle.css" rel="stylesheet" />
    <style>
        /*.coolLook {
            display: block;
            background-color: #f15263;

        }*/

        .space {
            padding-right: 16px;
        }

        .heartDetail {
            font-size: 5em;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="img-card">
                    @if (Model.EventItem.CoverPhoto != null)
                    {
                        <img class="center-block img-responsive" src="@Model.EventItem.CoverPhoto">
                    }
                    else
                    {
                        <img class="center-block img-responsive" src="https://rachelcorbett.com.au/wp-content/uploads/2018/07/PodSchool-Feature-Image-2-1-1.jpg" alt="default img" />
                    }

                        <div class="middle">

                            @if (Model.UserFav.ContainsKey(Model.EventItem.EventID))
                            {
                                if (Model.UserFav[Model.EventItem.EventID] == true)
                                {
                                    <a asp-controller="Search" asp-action="RemoveUserEventMyDetails" asp-route-id="@Model.EventItem.EventID">
                                        <img id="icon1" class="imgIcons heartRed" src="~/images/36704-5-dark-red-heart-transparent-background.png" />
                                    </a>
                                }
                            }
                            else
                            {
                                <a asp-controller="Search" asp-action="AddUserEventDetails" asp-route-id="@Model.EventItem.EventID">
                                    <img id="icon1" class="imgIcons heartBlue" src="~/images/36704-5-dark-red-heart-transparent-background.png" />
                                </a>
                            }

                        </div>

                    <div class="date-time-local">
                        <span class="date">
                            <i class="fa fa-calendar fa-fw"></i>
                            @Model.EventItem.Beginning.DayOfWeek,
                            @Model.EventItem.Beginning.ToString("MMMM")
                            @Model.EventItem.Beginning.Day
                        </span>
                        <br />
                        <span class="hours">
                            <i class="fa fa-clock fa-fw"></i>
                            @Model.EventItem.Beginning.ToString("h:mm")  @Model.EventItem.Beginning.ToString("tt").ToUpper() -  @Model.EventItem.Ending.ToString("h:mm")  @Model.EventItem.Ending.ToString("tt").ToUpper()
                        </span>
                        <br />
                        <span class="location">
                            <i class="fa fa-map-marker fa-fw"></i>
                            Location: @Model.EventItem.Venue.DisplayName
                        </span>

                        <div class="actionLinks">
                            @*only visible to Admin*@

                            @* TODO ADD ADMIN AUTH *@

                            @if (Model.User.Role == 1)
                            {
                                @Html.ActionLink("Edit", "EditEvent", new { id = Model.EventItem.EventID }) <Span class="space"></Span>
                            }

                            @Html.ActionLink("iCal", "EncodeICal")

                        </div>
                        <div class="heartMobile">
                            @if (Model.UserFav.ContainsKey(Model.EventItem.EventID))
                            {
                                if (Model.UserFav[Model.EventItem.EventID] == true)
                                {
                                    <a asp-controller="Search" asp-action="RemoveUserEventMyDetails" asp-route-id="@Model.EventItem.EventID">
                                        <i id="heart2" class="fas fa-heart heartRed"></i>
                                    </a>
                                }
                            }
                            else
                            {
                                <a asp-controller="Search" asp-action="AddUserEventDetails" asp-route-id="@Model.EventItem.EventID">
                                    <i id="heart2" class="fas fa-heart heartBlue"></i>
                                </a>
                            }
                        </div>                          
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h2 class="coolLook text-center">@Model.EventItem.EventName</h2>
                <span class="text-center">
                    <p class="badge badge-primary badge-pill genre-tag">
                        <a href=@Model.EventItem.Podcast.URL> @Model.EventItem.Podcast.Title</a>
                    </p>
                    <p class="badge badge-primary badge-pill genre-tag">
                        @Model.EventItem.Podcast.Genre.GenreName
                    </p>
                </span>

                <div class="podcast info">
                    <br />
                    <p> Join us at @Html.DisplayFor(model => model.EventItem.EventName) where we will be joined by @Model.EventItem.Podcast.Title an event you will not want to miss. </p>
                    <br />
                    <p>
                        @Html.DisplayFor(model => model.EventItem.DescriptionCopy)
                    </p>
                    <br />
                    <p>
                        For more information about @Model.EventItem.Podcast.Title please vist them at <a href="@Model.EventItem.Podcast.URL">their website!</a>
                    </p>
                    <br />
                    <p>
                        @Model.EventItem.EventName will be open to @Model.EventItem.Ticket.TicketType tickets. Get yours today!
                        @if (@Model.EventItem.UpsaleCopy != null)
                        {
                            @Model.EventItem.UpsaleCopy
                        }

                    </p>
                    <br />
                    <p>
                        This event will be held at the @Model.EventItem.Venue.DisplayName located at @(Model.EventItem.Venue.Address1.ToString() + ".")
                    </p>
                    <br />
                    <p>
                        @if (Model.EventItem.Venue.AdditionalInfo != null)
                        {
                            @Model.EventItem.Venue.AdditionalInfo
                        }
                    </p>
                    <br />
                    @if (Model.User.Role == 1)
                    {
                    <span>Event ready to publish -   @Html.DisplayFor(modelItem => Model.EventItem.IsFinalized) </span>
                    }


                </div>
            </div>
        </div>
    </div>

</body>
</html>


















