@model IEnumerable<Capstone.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Event Administration</h2>

<p>

    
    <p>
        @{
            string url = Url.Action("SaveEvent", "Event");
        }
        <input type="button" class="btn btn-outline-secondary" value="+Event" onclick="window.location.href = '@url'" />

   
    </p>
   
</p>
<table class="table">
    <thead>
    <tr>
        
     
        
 
                 <th>
            @*Html.DisplayNameFor(model => model.CoverPhoto)*@
                </th>
                <th>
                   Event
                </th>
        <th></th>
        <th></th>
        <th>
            Scheduled for
        </th>
        <th></th>
                 <th>
                    Published
                </th>

                <th>
                   Access Level
                </th>
             
            </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        <div class="date-box" style="width:36px;height:64px">
                        <a href=@Url.Action("Detail", "Event" , new { id=item.EventID })>

                            <div class="day-display" style="font-size:24px;margin:-2px 0 0 0;line-height:24px">@item.Beginning.Day.ToString()</div>
                        <div class="month-display" style="font-size:11px;line-height:16px">@item.Beginning.ToString("MMM")</div>
                        </a>
                        </div>
                    </td>
                    
                    <td>
                        <a href=@Url.Action("Edit", "Event" , new { id=item.EventID})>
                            <a img src=@Html.DisplayFor(modelItem => item.CoverPhoto)></a>
                            @Html.DisplayFor(modelItem => item.CoverPhoto)
                    </td>
                    <td>
                        <a href=@Url.Action("Edit", "Event" , new { id=item.EventID})>
                            @Html.DisplayFor(modelItem => item.EventName)  </a>
</td>
                    <td>
                        <a href=@Url.Action("Edit", "Podcast" , new { id=item.PodcastID})>
                            @Html.DisplayFor(modelItem => item.Podcast.Title)  </a>
</td>
                    <td>
                        <a href=@Url.Action("Edit", "Event" , new { id=item.EventID})>
                            @item.Beginning.ToString("h:mm")  @item.Beginning.ToString("tt").ToUpper() -  @item.Ending.ToString("h:mm")  @item.Ending.ToString("tt").ToUpper()
                </a>
</td>
           
                    <td>
                        <a href=@Url.Action("Edit", "Event" , new { id=item.EventID})>
                            @Html.DisplayFor(modelItem => item.Venue.DisplayName)
                        </a>
                        </td>
            <td>
                <a href=@Url.Action("Edit", "Event" , new { id=item.EventID})>
                    @Html.DisplayFor(modelItem => item.IsFinalized)
                </a>
            </td>
            <td>
            <a href=@Url.Action("Edit", "Event" , new { id=item.EventID})> 
            @Html.DisplayFor(modelItem => item.Ticket.TicketType) </a>
            </td>

                    <td>



                        @*@using (Html.BeginForm("EncodeICal", "Event", new { eventId = item.EventID }))
                {
                <input type="submit" value="iCal" class="ical-button" id="button" /><br />
                }

               @using (Html.BeginForm("EncodeGoogleCal", "Event", new { eventId = item.EventID }))
            {
                <input type="submit" value="Google" class="ical-button" id="button" /><br />
                }
                <a href=@Html.DisplayFor(modelItem => item.GoogleURL)>Google</a>*@

                    </td>
                </tr>
}
    </tbody>
</table>
