@model Capstone.Models.Account.UserRoleAdminViewModel


@{
    ViewData["Title"] = "EditRole";
}

<h2>EditRole</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.UserID)

            <div class="form-group">
                <label>@Model.UserEmail</label>
            </div>

            <div class="form-group">
                <label>@Model.UserName</label>
            </div>


            <div class="form-group">
                @Html.DropDownListFor(model => model.UserRoleID, Model.RoleList, new { @class = "form-control" })
                <span asp-validation-for="@Model.UserRoleID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

