@model Capstone.Models.Account.UserRoleAdminViewModel


@{
    ViewData["Title"] = "EditRole";
}

<h2>EditRole</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         

            <div class="form-group">
                <label asp-for="@Model.User.Name" class="control-label"></label>
                <input asp-for="@Model.User.Name" class="form-control" />
                <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.User.Email" class="control-label"></label>
                <input asp-for="@Model.User.Email" class="form-control" />
                <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.User.Role" class="control-label"></label>
                @Html.DropDownListFor(model => model.User.Role, Model.RoleList, new { @class = "form-control" })
                <span asp-validation-for="@Model.User.Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

