@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IEnumerable<Capstone.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>User Roles</h2>

<p>
    <a asp-area="" asp-controller="Account" asp-action="Register">Register User</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
                <th>
                    Admin
                </th>
                <th>
                    Podcaster
                </th>
                <th>
                    User
                </th>
            
           <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @if (item.Role == 1)
                {<text>✔️ </text>}


            </td>
          
            <td>
                @if (item.Role == 3)
                {<text>✔️ </text>}

            </td>
            
            <td>
                @if (item.Role == 2)
                {<text>✔️ </text>}
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.TicketType)
            </td>
            
            <td>
            <a href=@Url.Action("EditRole", "Admin", new {id = item.UserID})
               type="submit" 
               id="runReport" 
               target="_blank"
               class="button Secondary">
                
                <i class="fa fa-edit"></i>
            
                </a>
</tr>
}
    </tbody>
</table>
