@model Capstone.Models.ViewModel.SearchViewModel

@{
    ViewData["Title"] = "Index";
    int z = 0;
}

<h2>Search</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Search Index</title>
    <link href="~/css/SearchStyle.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .selectList {
            float: left;
            padding-right: 5em;
        }

        .date-time-local {
            text-align: center;
            padding: 1em 0 1em 0;
            color: #d5e5f0;
        }

        .fa-clock {
            padding-bottom: 6px;
        }

        .img-card {
            transition: .5s ease;
            display: block;
            background-color: #686275;
            /*border-radius: 8px;
            padding: 2px;*/
        }

        .imgHover {
            opacity: 1;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .img-card:hover .imgHover {
            opacity: 0.3;
        }

        .img-card:hover .middle {
            opacity: 1;
        }

        .imgIcons {
            position: relative;
            bottom: 25px;
            width: 90%;
            filter: invert(100%);
            transition: .5s ease;
        }

            .imgIcons:hover {
                filter: invert(0%);
            }


        .img-card {
            transition: all .2s ease-in-out;
        }

            .img-card:hover {
                transform: scale(1.1);
            }

        .img-responsive {
            position: relative;
            top: 5px;
            width: 95%;
        }
    </style>
</head>
<body>


    <form asp-action="SearchEvents">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group selectList">
            <label asp-for="Event.Podcast.GenreID" class="control-label"></label>
            @Html.DropDownListFor(model => model.Event.Podcast.GenreID, Model.GenreList, "", new { @class = "form-control" })
            <span asp-validation-for="Event.Podcast.GenreID" class="text-danger"></span>
        </div>
        <div class="form-group selectList">
            <label asp-for="Event.VenueID" class="control-label"></label>
            @Html.DropDownListFor(model => model.Event.VenueID, Model.VenueList, "", new { @class = "form-control" })
            <span asp-validation-for="Event.VenueID" class="text-danger"></span>
        </div>

        <div class="form-group selectList">
            <label asp-for="Event.TicketLevel" class="control-label"></label>
            @Html.DropDownListFor(model => model.Event.TicketLevel, Model.TicketList, "", new { @class = "form-control" })
            <span asp-validation-for="Event.TicketLevel" class="text-danger"></span>
        </div>
        <div class="form-group selectList">
            <label asp-for="Event.TimeOfDayString" class="control-label"></label>
            @Html.DropDownListFor(model => model.Event.TimeOfDayString, Model.TimeOfDayList, "", new { @class = "form-control" })
            <span asp-validation-for="Event.TimeOfDayString" class="text-danger"></span>
        </div>
        <div class="form-group selectButton">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </form>

    <div class="container">
        <h2>Event Schedule</h2>
        <p></p>

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#past">Archived Events</a></li>
            <li class="active"><a data-toggle="tab" href="#home">All Events</a></li>
            @for (int i = 0; i < Model.EventListByDay.Count; i++)
            {
                if (i <= 7)
                {
                    <li><a data-toggle="tab" href="@("#menu" + i)">@(Model.EventListByDay[i][0].Beginning.Day + ", " + Model.EventListByDay[i][0].Beginning.ToString("MMMM"))</a></li>
                }
            }
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3></h3>

                <div class="container-fluid">
                    <div class="row">

                        @foreach (Event item in Model.EventList)
                        {

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="img-card">
                                    @if (item.CoverPhoto != null)
                                    {
                                        <a href=@item.Podcast.URL>
                                            <img class="center-block img-responsive imgHover" src=@item.CoverPhoto )>
                                        </a>
                                    }
                                    else
                                    {
                                        <img class="center-block img-responsive imgHover" src="https://rachelcorbett.com.au/wp-content/uploads/2018/07/PodSchool-Feature-Image-2-1-1.jpg" alt="default img" />
                                    }

                                    <div class="middle">

                                        <img id="icon1" class="imgIcons" src="~/images/36704-5-dark-red-heart-transparent-background.png" />

                                    </div>

                                    <div class="date-time-local">
                                        <span class="hours">
                                            <i class="fa fa-clock fa-fw"></i>
                                            @item.Beginning.ToString("hh:mm")  @item.Beginning.ToString("tt").ToUpper() -  @item.Ending.ToString("hh:mm")  @item.Ending.ToString("tt").ToUpper()
                                        </span>
                                        <br />
                                        <span class="location">
                                            <i class="fa fa-map-marker fa-fw"></i>
                                            Location: @item.Venue.DisplayName
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div id="past" class="tab-pane fade">
                <h3></h3>

                @foreach (Event item in Model.ArchivedEventList)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="img-card">
                            @if (item.CoverPhoto != null)
                            {
                                <a href=@item.Podcast.URL>
                                    <img class="center-block img-responsive imgHover" src=@item.CoverPhoto )>
                                </a>
                            }
                            else
                            {
                                <img class="center-block img-responsive imgHover" src="https://rachelcorbett.com.au/wp-content/uploads/2018/07/PodSchool-Feature-Image-2-1-1.jpg" alt="default img" />
                            }

                            <div class="middle">

                                <img id="icon1" class="imgIcons" src="~/images/36704-5-dark-red-heart-transparent-background.png" />

                            </div>

                            <div class="date-time-local">
                                <span class="hours">
                                    <i class="fa fa-clock fa-fw"></i>
                                    @item.Beginning.ToString("hh:mm")  @item.Beginning.ToString("tt").ToUpper() -  @item.Ending.ToString("hh:mm")  @item.Ending.ToString("tt").ToUpper()
                                </span>
                                <br />
                                <span class="location">
                                    <i class="fa fa-map-marker fa-fw"></i>
                                    Location: @item.Venue.DisplayName
                                </span>
                            </div>
                        </div>
                    </div>
                }

            </div>

            @if (z <= 7)
            {
                @foreach (var day in Model.EventListByDay)
                {
            <div id="@("menu" + z)" class="tab-pane fade">
                <h3></h3>

                @foreach (var item in day)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="img-card">
                            @if (item.CoverPhoto != null)
                            {
                                <a href=@item.Podcast.URL>
                                    <img class="center-block img-responsive imgHover" src=@item.CoverPhoto )>
                                </a>
                            }
                            else
                            {
                                <img class="center-block img-responsive imgHover" src="https://rachelcorbett.com.au/wp-content/uploads/2018/07/PodSchool-Feature-Image-2-1-1.jpg" alt="default img" />
                            }

                            <div class="middle">

                                <img id="icon1" class="imgIcons" src="~/images/36704-5-dark-red-heart-transparent-background.png" />

                            </div>

                            <div class="date-time-local">
                                <span class="hours">
                                    <i class="fa fa-clock fa-fw"></i>
                                    @item.Beginning.ToString("hh:mm")  @item.Beginning.ToString("tt").ToUpper() -  @item.Ending.ToString("hh:mm")  @item.Ending.ToString("tt").ToUpper()
                                </span>
                                <br />
                                <span class="location">
                                    <i class="fa fa-map-marker fa-fw"></i>
                                    Location: @item.Venue.DisplayName
                                </span>
                            </div>
                        </div>
                    </div>
                }

            </div>
                    z++;
                }
            }
        </div>
    </div>


</body>
</html>

