@*@model Capstone.Models.ViewModel.SearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Search</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Search Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <form asp-action="SearchEvents">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Event.Podcast.GenreID" class="control-label"></label>
            @Html.DropDownListFor(model => model.Event.Podcast.GenreID, Model.GenreList, "", new { @class = "form-control" })
            <span asp-validation-for="Event.Podcast.GenreID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Event.VenueID" class="control-label"></label>
            @Html.DropDownListFor(model => model.Event.VenueID, Model.VenueList, "", new { @class = "form-control" })
            <span asp-validation-for="Event.VenueID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Event.TicketLevel" class="control-label"></label>
            @Html.DropDownListFor(model => model.Event.TicketLevel, Model.TicketList, "", new { @class = "form-control" })
            <span asp-validation-for="Event.TicketLevel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Event.TimeOfDayString" class="control-label"></label>
            @Html.DropDownListFor(model => model.Event.TimeOfDayString, Model.TimeOfDayList, "", new { @class = "form-control" })
            <span asp-validation-for="Event.TimeOfDayString" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </form>

    <div class="container">
        <h2>Dynamic Tabs</h2>
        <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#menu1">Archived Events</a></li>
            <li class="active"><a data-toggle="tab" href="#home">All Events</a></li>
            <li><a data-toggle="tab" href="#menu2">@(Model.Event.PodfestStartTime.Day + ", " + Model.Event.PodfestStartTime.ToString("MMMM"))</a></li>
            <li><a data-toggle="tab" href="#menu3">@(Model.Event.PodfestStartTime.AddDays(1).Day + ", " + Model.Event.PodfestStartTime.ToString("MMMM"))</a></li>
            <li><a data-toggle="tab" href="#menu4">@(Model.Event.PodfestStartTime.AddDays(2).Day + ", " + Model.Event.PodfestStartTime.ToString("MMMM"))</a></li>
            <li><a data-toggle="tab" href="#menu5">@(Model.Event.PodfestStartTime.AddDays(3).Day + ", " + Model.Event.PodfestStartTime.ToString("MMMM"))</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Beginning)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Ending)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.PodcastID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.VenueID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.CoverPhoto)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.DescriptionCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.TicketLevel)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.UpsaleCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.IsFinalized)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventName)

                            </th>
                            <th>
                                Genre

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event item in Model.EventList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beginning)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ending)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PodcastID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VenueID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoverPhoto)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionCopy)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketLevel)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpsaleCopy)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IsFinalized)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Podcast.GenreID)

                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Beginning)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Ending)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.PodcastID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.VenueID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.CoverPhoto)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.DescriptionCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.TicketLevel)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.UpsaleCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.IsFinalized)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventName)

                            </th>
                            <th>
                                Genre

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event item in Model.ArchivedEventList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beginning)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ending)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PodcastID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VenueID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoverPhoto)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionCopy)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketLevel)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpsaleCopy)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IsFinalized)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Podcast.GenreID)

                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Beginning)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Ending)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.PodcastID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.VenueID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.CoverPhoto)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.DescriptionCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.TicketLevel)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.UpsaleCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.IsFinalized)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventName)

                            </th>
                            <th>
                                Genre

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event item in Model.EventList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beginning)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ending)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PodcastID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VenueID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoverPhoto)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionCopy)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketLevel)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpsaleCopy)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IsFinalized)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Podcast.GenreID)

                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Beginning)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Ending)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.PodcastID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.VenueID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.CoverPhoto)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.DescriptionCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.TicketLevel)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.UpsaleCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.IsFinalized)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventName)

                            </th>
                            <th>
                                Genre

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event item in Model.EventList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beginning)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ending)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PodcastID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VenueID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoverPhoto)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionCopy)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketLevel)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpsaleCopy)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IsFinalized)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Podcast.GenreID)

                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="menu4" class="tab-pane fade">
                <h3>Menu 4</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Beginning)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Ending)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.PodcastID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.VenueID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.CoverPhoto)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.DescriptionCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.TicketLevel)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.UpsaleCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.IsFinalized)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventName)

                            </th>
                            <th>
                                Genre

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event item in Model.EventListDay2)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beginning)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ending)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PodcastID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VenueID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoverPhoto)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionCopy)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketLevel)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpsaleCopy)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IsFinalized)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Podcast.GenreID)

                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="menu5" class="tab-pane fade">
                <h3>Menu 5</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Beginning)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.Ending)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.PodcastID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.VenueID)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.CoverPhoto)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.DescriptionCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.TicketLevel)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.UpsaleCopy)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.IsFinalized)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event.EventName)

                            </th>
                            <th>
                                Genre

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event item in Model.EventListDay3)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beginning)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ending)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PodcastID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VenueID)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoverPhoto)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionCopy)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketLevel)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpsaleCopy)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IsFinalized)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Podcast.GenreID)

                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</body>
</html>*@

