@model Capstone.Models.ViewModel.SearchViewModel

@{
    ViewData["Title"] = "UserCalendar";
}

<h2>My Calendar</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/SearchStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            @foreach (Event item in Model.EventList)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="img-card">
                        @if (item.CoverPhoto != null)
                        {
                            <a href=@Url.Action("EventDetail", "Event", new {id = item.EventID})
                               type="submit"
                               id="runReport"
                               class="button Secondary">

                                <img class="center-block img-responsive imgHover" src=@item.CoverPhoto )>
                            </a>
                        }
                        else
                        {
                            <a href=@Url.Action("EventDetail", "Event", new {id = item.EventID})
                               type="submit"
                               id="runReport"
                               class="button Secondary">

                                <img class="center-block img-responsive imgHover" src="https://rachelcorbett.com.au/wp-content/uploads/2018/07/PodSchool-Feature-Image-2-1-1.jpg" alt="default img" />
                            </a>
                        }

                            <div class="middle">

                                @if (Model.UserFav.ContainsKey(item.EventID))
                                {
                                    if (Model.UserFav[item.EventID] == true)
                                    {
                                        <a asp-controller="Search" asp-action="RemoveUserEventMyCal" asp-route-id="@item.EventID">
                                            <img id="icon1" class="imgIcons" src="~/images/36704-5-dark-red-heart-transparent-background.png" />
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a asp-controller="Search" asp-action="AddUserEventMyCal" asp-route-id="@item.EventID">
                                        <img id="icon1" class="imgIcons" src="~/images/36704-5-dark-red-heart-transparent-background.png" />
                                    </a>
                                }


                            </div>
                        <a href=@Url.Action("EventDetail", "Event", new {id = item.EventID})
                           type="submit"
                           id="runReport"
                           class="button Secondary">

                            <div class="date-time-local">
                                <span class="date">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    @item.Beginning.DayOfWeek,
                                    @item.Beginning.ToString("MMMM")
                                    @item.Beginning.Day
                                </span>
                                <br />
                                <span class="hours">
                                    <i class="fa fa-clock fa-fw"></i>
                                    @item.Beginning.ToString("h:mm")  @item.Beginning.ToString("tt").ToUpper() -  @item.Ending.ToString("h:mm")  @item.Ending.ToString("tt").ToUpper()
                                </span>
                                <br />
                                <span class="location">
                                    <i class="fa fa-map-marker fa-fw"></i>
                                    Location: @item.Venue.DisplayName
                                </span>
                                <div class="heartMobile">
                                    @if (Model.UserFav.ContainsKey(item.EventID))
                                    {
                                        if (Model.UserFav[item.EventID] == true)
                                        {
                                            <a asp-controller="Search" asp-action="RemoveUserEventMyDetails" asp-route-id="@item.EventID">
                                                <i id="heart2" class="fas fa-heart"></i>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a asp-controller="Search" asp-action="AddUserEventDetails" asp-route-id="@item.EventID">
                                            <i id="heart2" class="fas fa-heart"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="form-group-home searchReturn">
        <a id="home-link" asp-controller="Search" asp-action="Index">Back to Search page</a>
    </div>
</body>
</html>