@model IEnumerable<Capstone.Models.Podcast>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreID)
            </th>
            
                @Html.DisplayNameFor(model => model.Hosting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
                
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hosting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
       
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PodcastID })
                @Html.ActionLink("Details", "Detail", new {id = item.PodcastID}) 
            </td>
        </tr>
}
    </tbody>
</table>
